[connection]
id=AllskyAP
uuid=334e5792-1535-47a5-a670-5a231fd18103
type=wifi
autoconnect-priority=20
interface-name=wlan0
timestamp=1784890476

[wifi]
band=bg
mode=ap
ssid=AllskyCam

[wifi-security]
key-mgmt=wpa-psk
proto=rsn
pairwise=ccmp
group=ccmp
psk=CHANGE_ME

[ipv4]
address1=192.168.4.1/24
method=manual

[ipv6]
addr-gen-mode=default
method=auto

[proxy]
